@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

h1 {
    font-family: "Baloo 2", sans-serif;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    display: block;
    width: fit-content;
}


.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    max-width: 75rem;
    padding: 1rem 2rem;
}

header{
    padding: 2rem;
    justify-content: flex-start;
    position: relative;
    max-width: 75rem;
    margin: 0 auto;
    align-items: center;
}

#Cabeçalho {
    background-color: rgb(191, 132, 206);
    border-radius: 16px;
    padding: 0.8rem 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    box-shadow: 0 0.2rem 0.9rem rgb (0,0,0,0.1)
}

.linkheader {
    font-size: 1.2em;
    display: inline-block;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: black;
}

.linkheader:hover{
    color: rgb(255, 255, 255);
    transition: 5ms;
}

.imagemheader {
    width: 2em;
    align-self: flex-end;
    align-items: end;
    opacity: 60%;
}

.imagemheader:hover{
    opacity: 100%;
}

.introducao {
    border: 1px dashed blue;
    width: 80%;
    padding: 1rem;
    margin: 0 auto;  
    
}


.Imagemimpacto {
    width: 10%;
    margin: 0 auto;
    align-items: center;
}

.textoexplicativo {
    width: 80%;
    margin: 0 auto;
}

.imagemimpacto {
    width: 80%;
    padding: 1rem;
    margin: 0 auto;
}

main {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;

}


@media (max-width: 768px) {
            .topo {
                flex-direction: column;
                gap: 1.5rem;
            }

            #Cabeçalho {
                flex-wrap: wrap;
                padding: 1rem;
                gap: 1rem;
            }

            .hero-content h2 {
                font-size: 2.5rem;
            }

            .hero-tags {
                flex-direction: column;
                gap: 1.5rem;
            }

            .tag {
                font-size: 1.2rem;
            }

            .about-content p {
                font-size: 1rem;
            }
        }

        @media (max-width: 480px) {
            h1 {
                font-size: 2rem;
            }

            .hero-content h2 {
                font-size: 2rem;
            }

            .linkheader {
                font-size: 1rem;
            }
        }